$primary-button: #d27943;

@mixin background($colour1, $colour2) {
  background: -webkit-linear-gradient($colour1, $colour2);
  background: -moz-linear-gradient($colour1, $colour2);
  background: -ms-linear-gradient($colour1, $colour2);
  background: -o-linear-gradient($colour1, $colour2);
  background: linear-gradient($colour1, $colour2);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin scale($points) {
  -webkit-transform: scale($points);
  -moz-transform: scale($points);
  -ms-transform: scale($points);
  -o-transform: scale($points);
  transform: scale($points);
}
@mixin fadeIn($seconds) {
  -webkit-animation: fadein $seconds;
  -moz-animation: fadein $seconds;
  -ms-animation: fadein $seconds;
  -o-animation: fadein $seconds;
  animation: fadein $seconds;
}

$white: #FFFFFF;
$skyLight: #55C1FF;
$skyDark: #33658A;
$sunLight: #FEC601;
$sunDark: #EA7317;
$cloudLight: #DBE4EE;
$cloudDark: #A9BBCF;
$darkCloudLight: #90A7BF;
$darkCloudDark: #7792AF;
$raindrop: #0A81D1;
$nightLight: #ECE4B7;
$nightDark: #BFADA3;

.modal-default-button {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-2 {
  background: $primary-button;
  background: linear-gradient(0deg, rgb(210, 121, 67) 0%, rgb(227, 193, 106) 100%);
  border: none;
  font-weight: bold;
  font-size: 20px;
}
.btn-2:before {
  height: 0;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
